<form class="wor {{cssClass}}" autocomplete="off">

    <header class="wor-sheet-header">
        <img src="{{actor.img}}" data-edit="img" />
        <input type="text" name="name" value="{{actor.name}}" placeholder="Name" />
    </header>

    <section class="wor-section">
        <h3 class="wor-section-header">
            <span>Details</span>
        </h3>
        <div class="form-group">
            <label>HP</label>
            <input type="text" data-dtype="Number" name="data.hp.value" value="{{data.hp.value}}" />
            &nbsp;/&nbsp;
            <input type="text" data-dtype="Number" name="data.hp.max" value="{{data.hp.max}}" />
        </div>
        <div class="form-group">
            <label>Initiative</label>
            <input type="text" data-dtype="Number" name="data.initiative.final" value="{{data.initiative.final}}" />
        </div>
        <div class="form-group">
            <label>Speed</label>
            <input type="text" data-dtype="Number" name="data.speed" value="{{data.speed}}" />
            &nbsp;ft.
        </div>
    </section>

    <section class="wor-section">
        <h3 class="wor-section-header">
            <span>Active Effects</span>
            <a data-action="wor-add-effect" title="Add">
                <i class="fas fa-plus"></i>
            </a>
        </h3>
        {{#if effects}}
        <ul class="wor-list">
            {{#each effects as |effect|}}
            <li>
                <img src="{{effect.icon}}" />
                <label>{{effect.label}}</label>
                <label>({{effect.remaining}})</label>
                <a data-action="wor-edit-effect" data-id="{{effect._id}}" title="Edit">
                    <i class="fas fa-edit"></i>
                </a>
                <a data-action="wor-delete-effect" data-id="{{effect._id}}" title="Delete">
                    <i class="fas fa-trash"></i>
                </a>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <div class="form-group">
            <label>None</label>
        </div>
        {{/if}}
    </section>

    {{#if actor.isLinked}}
    <section class="wor-section">
        <h3 class="wor-section-header">
            <span>Hero Lab Sync</span>
        </h3>
        {{#if data.heroLab.lastUpdate}}
        <div class="form-group">
            <label>Last updated</label>
            <input style='flex:3' type="text" readonly value="{{data.heroLab.lastUpdate}}" />
        </div>
        <div class="form-group">
            <label>File</label>
            <input style='flex:3' type="text" readonly value="{{data.heroLab.fileName}}" />
        </div>
        <div class="form-group">
            <label>Character</label>
            <input style='flex:3' type="text" readonly value="{{data.heroLab.characterName}}" />
        </div>
        {{else}}
        <p>
            Copy this line into the “Personal” tab of your Hero Lab character.
            It can go anywhere within the “Background Details” field.
        </p>
        <div class="form-group">
            <label>Sync token</label>
            <input style='flex:3' type="text" readonly value="{{actor.syncToken}}" />
        </div>
        {{/if}}
    </section>
    {{/if}}

</form>
