<form class="wor {{cssClass}}" autocomplete="off">

    <header class="wor-sheet-header">
        <img class="wor-token-icon-large" src="{{actor.img}}" data-edit="img" />
        <input type="text" name="name" value="{{actor.name}}" placeholder="Name" />
    </header>

    <section class="wor-section">
        <h3 class="wor-section-header">
            <span>Details</span>
        </h3>
        <div class="form-group">
            <label>HP</label>
            <input type="text" data-dtype="Number" name="data.hp.value" value="{{data.hp.value}}" />
            &nbsp;/&nbsp;
            <input type="text" data-dtype="Number" name="data.hp.max" value="{{data.hp.max}}" />
        </div>
        <div class="form-group">
            <label>Speed</label>
            <input type="text" data-dtype="Number" name="data.speed" value="{{data.speed}}" />
            &nbsp;ft.
        </div>
    </section>

    <section class="wor-section">
        <h3 class="wor-section-header">
            <span>Active Effects</span>
            <a data-action="wor-add-effect" title="Add">
                <i class="fas fa-plus"></i>
            </a>
        </h3>
        {{#if entity.effects}}
        <ul class="wor-list">
            {{#each entity.effects as |effect|}}
            <li>
                {{#if effect.tint}}
                <img src="{{effect.icon}}" style="filter: url(#Tint{{effect._id}})" />
                {{else}}
                <img src="{{effect.icon}}" />
                {{/if}}
                <label>{{effect.label}}</label>
                <label>({{effect.remaining}})</label>
                <a data-action="wor-edit-effect" data-id="{{effect._id}}" title="Edit">
                    <i class="fas fa-edit"></i>
                </a>
                <a data-action="wor-delete-effect" data-id="{{effect._id}}" title="Delete">
                    <i class="fas fa-trash"></i>
                </a>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <div class="form-group">
            <label>None</label>
        </div>
        {{/if}}

    </section>

    <div style="display: none">
        {{#each entity.effects as |effect|}}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <filter id="Tint{{effect._id}}">
                <feColorMatrix in='SourceGraphic' type='matrix' values='{{effect.tint}}' />
            </filter>
        </svg>
        {{/each}}
    </div>

</form>
