<form class="wor {{cssClass}}" autocomplete="off">

    <header class="wor-sheet-header">
        <img src="{{actor.img}}" data-edit="img" />
        <input type="text" name="name" value="{{actor.name}}" placeholder="Name" />
    </header>

    <section class="wor-section">
        <h3 class="wor-section-header">
            <span>Details</span>
        </h3>
        <div class="form-group">
            <label>HP</label>
            <input type="text" data-dtype="Number" name="data.hp.value" value="{{data.hp.value}}" />
            &nbsp;/&nbsp;
            <input type="text" data-dtype="Number" name="data.hp.max" value="{{data.hp.max}}" />
        </div>
        <div class="form-group">
            <label>Speed</label>
            <input type="text" data-dtype="Number" name="data.speed" value="{{data.speed}}" />
            &nbsp;ft.
        </div>
    </section>

</form>
