<form class='wor {{cssClass}}' autocomplete='off'>

    <header class='wor-sheet-header'>
        <img src='{{data.icon}}' data-edit='icon' />
        <input type='text' name='label' value='{{data.label}}' placeholder='Name' />
    </header>

    <section class='wor-section'>
        <h3 class='wor-section-header'>
            <span>Timing</span>
        </h3>
        <div class='form-group'>
            <label>Duration</label>
            <input type='text' data-duration-editor='duration.seconds' />
            <input type='number' readonly hidden name='duration.seconds' value='{{ data.duration.seconds }}' />
        </div>
        <div class='form-group'>
            <label>Started at</label>
            <input type='number' name='duration.startTime' value='{{ data.duration.startTime }}' />
        </div>
        <div class='form-group'>
            <label>Started on initiative</label>
            <input type='number' step='0.01' name='flags.wor.initiative' value='{{ data.flags.wor.initiative }}' />
        </div>
    </section>

    <section class='wor-section'>
        <h3 class='wor-section-header'>
            <span>Metadata</span>
        </h3>
        <div class='form-group'>
            <label>Caster level</label>
            <input type='number' min='1' step='1' name='flags.wor.cl' value='{{ data.flags.wor.cl }}' />
        </div>
    </section>

    <footer class='sheet-footer'>
        <button type='submit'><i class='fas fa-save'></i> Save</button>
    </footer>
</form>
